
  <section class="container section who-section">
    <div>
      <span class="header-text who-text" translate>Research</span>
    </div>
    <div class="paragraph">
        <p class="first-paragraph" translate>paraOne</p>
        <p class="second-paragraph" translate>paraTwo</p>
        <p class="third-paragraph" translate>paraFour</p>
        
        <p class="fifth-paragraph" translate>paraFive</p>
        <p class="sixth-paragraph" translate>paraSix</p>
    </div>
  </section>
  <br>
  <section class="container section non-who-section">
    <div class="header">
      <span class="header-text" translate>Focus</span>
    </div>
    <div class="paragraph">
        <ul id="un-list" class="list">
            <li translate>itemOne</li>
            <li translate>itemTwo</li>
            <li translate>itemThree</li>
            <li translate>itemFour</li>
            <li translate>itemFive</li>
            <li translate>itemSix</li>
            <li translate>itemSeven</li>
          </ul>
          <p class="paraSeven" translate>paraSeven</p>
    </div>
  </section>
  <br>
  <section class="container section who-section mission-section">
    <div>
      <span class="header-text who-text" translate>Inno</span>
    </div>
    <div class="paragraph">
        <p class="paraEight" translate>paraEight</p>
        <p class="paraEight" translate>paraEightPlus</p>
    </div>
  </section>
  <br>
  <section class="container section non-who-section">
    <div class="header">
      <span class="header-text" translate>productDev</span>
    </div>
    <div class="paragraph">
        <p class="paraNine" translate>paraNine</p>
        <p class="paraTen" translate>paraTen</p>
        <p class="paraEleven" translate>paraEleven</p>
        <p class="paraTwelve" translate>paraTwelve</p>
        <p class="paraThr" translate>.</p>
    </div>
  </section>
  <br>
  <hr class="container">
  <section class="container forth-section">
      <div class="text-center forth-header">
          <span class="header-research " translate>quality</span>
      </div>
    <div class="row">
      <div class="col-md-3 col-sm-3 col-xs-3">
        <div class="q-img">
          <img src="../../../assets/images/no-image-available.png " class="img"> 
        </div>
      </div>
      <div class="col-md-3 col-sm-3 col-xs-3">
          <div class="q-img">
              <img src="../../../assets/images/no-image-available.png" class="img">
          </div>
      </div>
      <div class="col-md-3 col-sm-3 col-xs-3">
          <div class="q-img">
              <img src="../../../assets/images/no-image-available.png" class="img">
          </div>
      </div>
      <div class="col-md-3 col-sm-3 col-xs-3">
          <div class="q-img">
              <img src="../../../assets/images/no-image-available.png" class="img">
          </div>
      </div>
    </div>
  </section>