
<section class="container section who-section">
  <div>
    <span class="header-text who-text" translate>who</span>
  </div>
  <div class="paragraph">
    <p>
    <span translate>whoOne</span>
    <span translate>whoTwo</span>
    <span translate>whoThree</span>
    <span translate>whoThreePlus</span>
  </p>
    <p>
      <span translate>whoFour</span>
      <span translate>whoFive</span>
      <span translate>whoSix</span>
    </p>
    <p>
      <span translate>whoSeven</span>
      <span translate>whoEight</span>>
      <span translate>whoNine</span>>
      <span translate>whoTen</span>
  </p>
  </div>
</section>
<br>
<section class="container section non-who-section">
  <div class="header">
    <span class="header-text" translate>vision</span>
  </div>
  <div class="paragraph">
    <p>
      <span translate>visionOne</span>
      <span translate>visionTwo</span>
      <span translate>visionThree</span>
    </p>
    <p>
      <span translate>visionFour</span>>
      <span translate>visionFive</span>>
      <span translate>visionSix</span>>
    </p>
  </div>
</section>
<br>
<section class="container section who-section mission-section">
  <div>
    <span class="header-text who-text" translate>mission</span>
  </div>
  <div class="paragraph">
    <span translate>missionOne</span>
    <span translate>missionTwo</span>
    <span translate>missionThree</span>
  </div>
</section>
<br>
<section class="container section non-who-section">
  <div class="header">
    <span class="header-text" translate>strat</span>
  </div>
  <div class="paragraph">
    <p>
      <span translate>stratOne</span>
      <span translate>stratTwo</span>
      <span translate>stratThree</span>
    </p>
    <p>
      <span translate>stratFour</span>
      <span translate>stratFive</span>
      <span translate>stratSix</span>
    </p>
    <p>
      <span translate>stratSeven</span>
      <span translate>stratEight</span>
    </p>
  </div>
</section>
<br>
<section class="container section who-section  grow-section">
  <div>
    <span class="header-text who-text" translate>grow</span>
  </div>
  <div class="paragraph">
    <p>
      <span translate>growOne</span>
      <span translate>growTwo</span>
    </p>
    <span translate>growThree</span>:<br>
  </div>
  <ul id="ul-list-two" class="list">
    <li translate>growItemOne</li>
    <li translate>growItemTwo</li>
    <li translate>growItemThree</li>
  </ul>
</section>
<br>
<section class="container section non-who-section">
  <div class="header">
    <span class="header-text" translate>value</span>
  </div>
  <div class="paragraph">
    <p>
      <span translate>valueOne</span>
      <span translate>valueTwo</span>
      <span translate>valueThree</span>
    </p>
    <p>
      <span translate>valueFour</span>
      <span translate>valueFive</span>
      <span translate>valueSix</span>
    </p>
    <p>
      <span translate>valueSeven</span>
      <span translate>valueEight</span>
      <span translate>valueNine</span>
    </p>
    <p>
      <span translate>valueTen</span>
      <span translate>valueEleven</span>
      <span translate>valueTwelve</span>
    </p>
  </div>
</section>
<br>
<section class="container section who-section team-section" >
  <div>
    <span class="header-text who-text" translate>team</span>
  </div>
  <div class="paragraph">
    <p translate>teamOne</p>
    <p translate>teamTwo</p>
    <p translate>teamThree</p>
    <p translate>teamFour</p>
    <p translate>teamFive</p>
  </div>
</section>